
// primary colors
/* SCSS HEX */
$black: #000000ff;
$silver: #a8a79fff;
$eggshell: #edead4ff;
$denim: #315dafff;
$kobicha: #58320eff;
$avocado: #407f00ff;
$yellow: #eff32bff;
$red: #ff0a0aff;

// border-radius
$br-large: .25rem;
$br-medium: .5rem;
$br-small: 1rem;
$br-cirle: 10000px;

// box-shadow
$bs-dark: 0 0 12px 3px rgba(22, 22, 22, .35);
$bs-btn: 0px 0px 12px 1px rgba(12, 12, 12, .25);
$bs-btnHover: 0px 3px 7px 3px rgba(0, 0, 0, .75);

// margin
$m-large: 5rem;
$m-medium: 2.5rem;
$m-small: 1rem;

// padding
$p-large: 5rem;
$p-medium: 2.5rem;
$p-small: 1rem;