.header { 
      
}
.hero {
      @include displayFlexColumn;
      gap: 2rem;
      &__logoImgContainerAndContent {
            @include displayFlexColumn;
            align-items: stretch;
            gap: 1rem;
            background-color: $black;
      }
      &__logoImgContainer {
            @include displayFlexColumn;
            gap: 1rem;
            padding-top: 3rem;
            width: 100%;
            background-color: $yellow;
            clip-path: polygon(0% 50%, 0% 0%, 100% 0%, 100% 90%, calc(50% + 8.25rem) 65%, calc(50% + 4.75rem) 89%, calc(50% - 4.75rem) 89%, calc(50% - 8.25rem) 65%, 0% 90%);
      }
      &__logoImg {
            display: block;
            width: 22rem;
            height: auto;
            margin: 0 auto;
            filter: drop-shadow(0 3px 1.5rem rgba($black, .65));
      }
      &__content {
            @include displayFlexColumn;
            gap: 1rem;
            padding: 0 1rem 4rem;
      }
      &__contentText {
            width: min(100%, 45rem);
      }
      @include respond(tab-land) {
            &__logoImgContainerAndContent {
                  @include displayFlexRow;
                  gap: 0rem;
                  align-items: stretch;
            }
            &__logoImgContainer {
                  padding: 5rem 0 5rem 6rem;
                  max-width: min(65%, 45rem);
                  clip-path: polygon(0% 0%, 100% 0%, calc(50% + 9.43rem) 21%, calc(50% + 16.2rem) 50%, calc(50% + 9.43rem) 79%, 100% 100%, 0% 100%);
            }
            &__logoImg {
                  width: 30rem;
            }
            &__content {
                  flex: 1 0 45rem;
                  align-items: flex-start;
                  padding: 4rem;
            }
            &__contentText {
                  width: min(100%, 30rem);
            }
      }
      @include respond(desk) {
            &__logoImgContainerAndContent {
                  @include displayFlexRow;
                  gap: 0rem;
                  align-items: stretch;
            }
            &__logoImgContainer {
                  max-width: min(65%, 55rem);
            }
            
            &__content {
                  flex: 1 0 55rem;
            }
            &__contentText {
                  width: 75%;
            }
      }
}
.primaryHeading {
      @include displayFlexColumn;
      gap: .25rem;
      @include respond(tab-land) {
            align-items: flex-start;
      }
}